<!DOCTYPE html>
<html>
  <head>
    <title>Megabus Deals</title>
    <%- include('partials/head.ejs') %>
  </head>
<body>
  <div class="container-fluid w-100">
    <div class="row">
      <div class="column">
        <h1 class="text-primary text-center">Megabus Deals
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h6 class="text-muted text-center"><em>$1 journeys for all</em></h6>
      </div>
    </div>
      <form action="/search" method="post">
        <div class="form-group">
          <label>Source</label>
          <select class="form-control" name="sourceCity" id="sourceCity">
          </select>
        </div>
        <div class="form-group">
          <label>Destination</label>
          <select class="form-control" name="destinationCity" id="destinationCity">
            <% cities.forEach((city, idx) => { %>
              <option<% if (idx + 1 === cities.length) {%> selected="selected" <% } %>><%= city.name %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label>Out Day</label>
            <select class="form-control" name="outDateSelection" id="outDateSelection">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
              <option>Sunday</option>
            </select>
        </div>
        <div class="form-group">
          <label>Return Day</label>
            <select class="form-control" name="returnDateSelection" id="returnDateSelection">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
              <option selected="selected">Sunday</option>
            </select>
        </div>
        <div class="row">
          <div class="column text-center">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-inline-block flex">Search <i class="bi bi-search"></i></button>
            </div>
          </div>
        </div>
      </form>
  </div>
  <%- include('partials/script.ejs') %>
  <script>
  function updateDestinationCities() {
    var originName = document.getElementById("sourceCity").value;
 
    var destination_cities_options = document.getElementById("destinationCity");
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState === 4 & this.status === 200) {
        var valid_destinations = JSON.parse(this.responseText);
        destination_cities_options.innerHTML = "";
        valid_destinations.cities.forEach(city => {
          var destinationOption = document.createElement("option");
          destinationOption.appendChild(document.createTextNode(city.name));
          destination_cities_options.appendChild(destinationOption);
        });
      }
    }
    xhttp.open("GET", `valid_destinations?cityName=${originName}`, true);
    xhttp.send();
  }

  var source_cities_options = document.getElementById("sourceCity");
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState === 4 & this.status === 200) {
      var origin_cities_data = JSON.parse(this.responseText);
      origin_cities_data.cities.forEach(city => {
        var cityOption = document.createElement("option");
        cityOption.value = city.name;
        cityOption.appendChild(document.createTextNode(city.name));
        source_cities_options.appendChild(cityOption);
      });
    }
  }
  xhttp.open("GET", "origin_cities", true);
  xhttp.send();

  document.getElementById("sourceCity").addEventListener("change", updateDestinationCities); 
  </script>
</body>
</html>
